<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БДУ ФСТЭК</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>

    </style>
</head>
<body>
    <h2>🔐 *БДУ ФСТЭК — База данных уязвимостей*</h2>
    
    <a href="7_days.html" class="article">
        🆕 Узнать о свежих уязвимостях (последние 7 дней)
    </a>
    
    <a href="creet.html" class="article">
        🔥 Посмотреть критические (CVSS >= 9.0)
    </a>
    
    <a href="cve.html" class="article">
        🔍 Найти уязвимость по BDU ID
    </a>
    
    <a href="po.html" class="article">
        🖥️ Найти уязвимости по названию продукта / ПО
    </a>
    <a href="full_cve.html" class="article">
        Полный список уязвимостей
    </a>
</body>
</html>
