<h1 id="rest-security-cheat-sheet">Статья по безопасности REST (REST Security Cheat Sheet)</h1>
<h2 id="introduction"> Введение</h2>
<p><a href="https://en.wikipedia.org/wiki/REST">REST</a> (или <strong>RE</strong>presentational <strong>S</strong>tate <strong>T</strong>ransfer) — архитектурный стиль, впервые описанный в диссертации Ph.D. <a href="https://en.wikipedia.org/wiki/Roy_Fielding">Роя Филдинга</a> «<a href="https://www.ics.uci.edu/~fielding/pubs/dissertation/top.htm">Architectural Styles and the Design of Network-based Software Architectures</a>».</p>
<p> Он развивался по мере того, как Филдинг писал спецификации HTTP/1.1 и URI, и было доказано, что он хорошо подходит для разработки распределенных гипермедийных приложений. Хотя REST более широко применим, он чаще всего используется в контексте взаимодействия со службами через HTTP.</p>
<p> Ключевой абстракцией информации в REST является ресурс. Ресурс REST API идентифицируется URI, обычно URL-адресом HTTP. Компоненты REST используют соединители для выполнения действий с ресурсом, используя представление для фиксации текущего или предполагаемого состояния ресурса и передачи этого представления.</p>
<p> Основные типы соединителей — клиент и сервер, вторичные — кэш, преобразователь и туннель.</p>
<p>REST API не имеют состояния. API с отслеживанием состояния не соответствуют архитектурному стилю REST. Состояние в аббревиатуре REST относится к состоянию ресурса, к которому обращается API, а не к состоянию сеанса, в котором вызывается API. Хотя могут быть веские причины для создания API с отслеживанием состояния, важно понимать, что управление сеансами сложное и трудно обеспечить безопасность.</p>
<p> Службы с отслеживанием состояния выходят за рамки этой статьи:<em> Передача состояния от клиента к серверной части, при этом технически делая сервис без сохранения состояния, является антишаблоном, которого также следует избегать, поскольку он подвержен атакам повторного воспроизведения и олицетворения.</em></p>
<p> Чтобы реализовать потоки с помощью REST API, ресурсы обычно создаются, считываются, обновляются и удаляются. Например, сайт электронной торговли может предлагать методы для создания пустой корзины покупок, добавления товаров в корзину и проверки корзины. Каждый из этих вызовов REST не имеет состояния, и конечная точка должна проверить, авторизован ли вызывающий объект для выполнения запрошенной операции.</p>
<p>Ещё одной ключевой особенностью приложений REST является использование стандартных HTTP-глаголов и кодов ошибок в целях устранения лишних расхождений между разными сервисами.</p>
<p> Еще одной ключевой особенностью приложений REST является использование <a href="https://en.wikipedia.org/wiki/HATEOAS">HATEOAS или гипермедиа как двигатель состояния приложения</a>. Это придает приложениям REST самодокументируемый характер, что упрощает разработчикам взаимодействие со службой REST без предварительных знаний.</p>
<h2 id="https">HTTPS</h2>
<p> Безопасные службы REST должны предоставлять только конечные точки HTTPS. Это защищает учетные данные аутентификации при передаче, например пароли, ключи API или веб-токены JSON. Это также позволяет клиентам аутентифицировать услугу и гарантирует целостность передаваемых данных.</p>
<p> См.<a href="/owasp/cheatsheets/Transport_Layer_Security_Cheat_Sheet.html"> Статья по безопасности транспортного уровня</a> для получения дополнительной информации.</p>
<p> Рассмотрите возможность использования сертификатов на стороне клиента с взаимной проверкой подлинности, чтобы обеспечить дополнительную защиту веб-служб с высоким уровнем привилегий.</p>
<h2 id="access-control"> Контроль доступа</h2>
<p> Частные службы REST должны выполнять контроль доступа на каждой конечной точке API. Веб-сервисы в монолитных приложениях реализуют это посредством аутентификации пользователей, логики авторизации и управления сеансами. Это имеет несколько недостатков для современных архитектур, которые составляют несколько микросервисов в стиле RESTful.</p>
<ul>
<li> Чтобы минимизировать задержку и уменьшить связь между службами, решение по управлению доступом должно приниматься локально конечными точками REST.</li>
<li> аутентификация пользователей должна быть централизована в поставщике удостоверений (IdP), который выдает токены доступа.</li>
</ul>
<h2 id="jwt">JWT</h2>
<p> Кажется, существует тенденция к использованию <a href="https://tools.ietf.org/html/rfc7519"> Веб-токены JSON</a> (JWT) в качестве формата токенов безопасности. JWT — это структуры данных JSON, содержащие набор утверждений, которые можно использовать для принятия решений по управлению доступом. Криптографическая подпись или код аутентификации сообщения (MAC) могут использоваться для защиты целостности JWT.</p>
<ul>
<li> Убедитесь, что целостность JWT защищена либо подписью, либо MAC. Не разрешайте незащищенные JWT:<code>{"alg":"none"}</code>.<ul>
<li> См. <a href="https://tools.ietf.org/html/rfc7519#section-6.1"> здесь</a></li>
</ul>
</li>
<li> В общем, подписи следует отдавать предпочтение перед MAC для защиты целостности JWT.</li>
</ul>
<p> Если MAC используются для защиты целостности, каждая служба, способная проверять JWT, также может создавать новые JWT, используя тот же ключ. Это означает, что все службы, использующие один и тот же ключ, должны взаимно доверять друг другу. Другим следствием этого является то, что компрометация любой службы также ставит под угрозу все другие службы, использующие тот же ключ. См. <a href="https://tools.ietf.org/html/rfc7515#section-10.5"> здесь</a> для получения дополнительной информации.</p>
<p> Доверяющая сторона или потребитель токена проверяет JWT, проверяя его целостность и содержащиеся в нем утверждения.</p>
<ul>
<li> Проверяющая сторона должна проверить целостность JWT на основе своей собственной конфигурации или жестко запрограммированной логики. Он не должен полагаться на информацию заголовка JWT для выбора алгоритма проверки. См. <a href="https://www.chosenplaintext.ca/2015/03/31/jwt-algorithm-confusion.html"> здесь</a> и <a href="https://www.youtube.com/watch?v=bW5pS4e_MX8"> здесь</a></li>
</ul>
<p> Некоторые утверждения стандартизированы и должны присутствовать в JWT, используемом для управления доступом. Должны быть проверены, по крайней мере, следующие стандартные утверждения:</p>
<ul>
<li><code>iss</code> или эмитент - это доверенный эмитент? Это предполагаемый владелец ключа подписи?</li>
<li><code>aud</code> или аудитория — входит ли проверяющая сторона в целевую аудиторию этого JWT?</li>
<li><code>exp</code> или время истечения — это текущее время до окончания срока действия этого токена?</li>
<li><code>nbf</code> или не раньше времени - это текущее время после начала срока действия этого токена?</li>
</ul>
<p> Поскольку JWT содержат сведения об аутентифицированном объекте (пользователе и т. д.), между JWT и текущим состоянием сеанса пользователя может произойти отключение, например, если сеанс завершается раньше времени истечения срока действия из-за явного выхода из системы или тайм-аута простоя. Когда происходит событие явного завершения сеанса, дайджест или хэш всех связанных JWT должен быть отправлен в список запрещенных в API, который сделает этот JWT недействительным для любых запросов до истечения срока действия токена. См.<a href="/owasp/cheatsheets/JSON_Web_Token_for_Java_Cheat_Sheet.html#token-explicit-revocation-by-the-user">JSON_Web_Token_for_Java_Cheat_Sheet</a> для получения более подробной информации.</p>
<h2 id="api-keys">API-ключи</h2>
<p> Публичные службы REST без контроля доступа рискуют оказаться на ферме, что приведет к чрезмерным расходам на пропускную способность или вычислительные циклы. Ключи API можно использовать для снижения этого риска. Они также часто используются организациями для монетизации API; вместо блокировки высокочастотных звонков клиентам предоставляется доступ в соответствии с приобретенным планом доступа.</p>
<p> Ключи API могут снизить воздействие атак типа «отказ в обслуживании». Однако, когда они выдаются сторонним клиентам, их относительно легко скомпрометировать.</p>
<ul>
<li> Требовать ключи API для каждого запроса к защищенной конечной точке.</li>
<li> Возвращаться <code>429 Too Many Requests</code> Код ответа HTTP, если запросы поступают слишком быстро.</li>
<li> Отозвать ключ API, если клиент нарушает соглашение об использовании.</li>
<li> Не полагайтесь исключительно на ключи API для защиты конфиденциальных, критических или ценных ресурсов.</li>
</ul>
<h2 id="restrict-http-methods"> Ограничить методы HTTP</h2>
<ul>
<li> Примените список разрешенных методов HTTP, например.<code>GET</code>, <code>POST</code>, <code>PUT</code>.</li>
<li> Отклонять все запросы, не соответствующие белому списку, с кодом ответа HTTP.<code>405 Method not allowed</code>.</li>
<li> Убедитесь, что вызывающая сторона имеет право использовать входящий метод HTTP для сбора, действия и записи ресурсов.</li>
</ul>
<p> В частности, в Java EE это может быть сложно реализовать должным образом. См. <a href="/owasp/assets/REST_Security_Cheat_Sheet_Bypassing_VBAAC_with_HTTP_Verb_Tampering.pdf"> Обход веб-аутентификации и авторизации с помощью подделки HTTP-глаголов</a> для объяснения этой распространенной неправильной конфигурации.</p>
<h2 id="preventing-out-of-order-api-execution"> Предотвращение внеочередного выполнения API</h2>
<p> Современные API REST часто реализуют бизнес-процессы через последовательность конечных точек (например, создать → проверить → утвердить → завершить). Если серверная часть явно не проверяет переходы состояний рабочего процесса, злоумышленники могут вызывать конечные точки вне последовательности, чтобы обойти предполагаемые элементы управления.</p>
<h3 id="problem"> Проблема</h3>
<p> Выполнение API вне очереди происходит, когда злоумышленник:</p>
<ul>
<li> Пропускает необходимые этапы рабочего процесса путем прямого вызова конечных точек более позднего этапа.</li>
<li> Воспроизводит или повторно использует токены за пределами рабочего процесса.</li>
<li> Использует предположения о том, что интерфейс обеспечивает правильную последовательность</li>
</ul>
<p> Поскольку каждая конечная точка может проходить индивидуальную аутентификацию и авторизацию, традиционные проверки контроля доступа часто не позволяют обнаружить эти проблемы.</p>
<h3 id="example"> Пример</h3>
<p> Рабочий процесс оформления заказа предполагает следующую последовательность:</p>
<div class="cheatsheet-code-window"><pre><code class="language-bash">POST /checkout/create
POST /checkout/pay
POST /checkout/confirm</code></pre></div>
<p> Если серверная часть не проверяет переходы состояний рабочего процесса, злоумышленник может напрямую вызвать:</p>
<div class="cheatsheet-code-window"><pre><code class="language-bash">POST /checkout/confirm</code></pre></div>
<p> без завершения оплаты.</p>
<h3 id="prevention-guidance"> Руководство по профилактике</h3>
<ul>
<li> Обеспечьте проверку состояния рабочего процесса на стороне сервера для каждого запроса.</li>
<li> Моделируйте рабочие процессы явно, используя конечные состояния или конечные автоматы.</li>
<li> Привязывайте токены или идентификаторы к конкретным этапам рабочего процесса.</li>
<li> Не полагайтесь на логику внешнего интерфейса для обеспечения соблюдения последовательности.</li>
<li> Отклоняйте недопустимые или неупорядоченные переходы с четкими ответами на ошибки.</li>
</ul>
<h3 id="testing-checklist"> Контрольный список тестирования</h3>
<ul>
<li> Могут ли конечные точки вызываться вне последовательности?</li>
<li> Каждая конечная точка проверяет текущее состояние рабочего процесса?</li>
<li> Можно ли повторно использовать токены на этапах рабочего процесса?</li>
<li> Постоянно ли отвергаются недопустимые переходы между состояниями?</li>
</ul>
<h2 id="input-validation"> Проверка ввода</h2>
<ul>
<li> Не доверяйте входным параметрам/объектам.</li>
<li> Подтвердите ввод: длину/диапазон/формат и тип.</li>
<li> Обеспечьте неявную проверку входных данных, используя в параметрах API строгие типы, такие как числа, логические значения, даты, время или фиксированные диапазоны данных.</li>
<li> Ограничьте ввод строк с помощью регулярных выражений.</li>
<li> Отклонять неожиданный/незаконный контент.</li>
<li> Используйте библиотеки проверки/санации или платформы на вашем конкретном языке.</li>
<li> Определите соответствующий предел размера запроса и отклоняйте запросы, превышающие этот предел, со статусом ответа HTTP 413 Request Entity Too Large.</li>
<li> Рассмотрите возможность регистрации ошибок проверки ввода. Предположим, что тот, кто выполняет сотни неудачных проверок ввода в секунду, не замышляет ничего хорошего.</li>
<li> Подробное объяснение можно найти в статье по проверке ввода.</li>
<li> Используйте безопасный парсер для анализа входящих сообщений. Если вы используете XML, обязательно используйте парсер, который не уязвим для <a href="https://owasp.org/www-community/vulnerabilities/XML_External_Entity_%28XXE%29_Processing">XXE</a> и подобные атаки.</li>
</ul>
<h2 id="validate-content-types"> Проверка типов контента</h2>
<p> Тело запроса или ответа REST должно соответствовать предполагаемому типу контента в заголовке. В противном случае это может привести к неправильной интерпретации на стороне потребителя/производителя и привести к внедрению/выполнению кода.</p>
<ul>
<li> Документируйте все поддерживаемые типы контента в своем API.</li>
</ul>
<h3 id="validate-request-content-types"> Проверка типов контента запроса</h3>
<ul>
<li> Отклонять запросы, содержащие неожиданные или отсутствующие заголовки типов контента со статусом ответа HTTP.<code>406 Unacceptable</code> или <code>415 Unsupported Media Type</code>. Для запросов с <code>Content-Length: 0</code> однако,<code>Content-type</code> заголовок не является обязательным.</li>
<li> Для типов контента XML обеспечьте соответствующее усиление синтаксического анализатора XML, см.<a href="/owasp/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html">XXE статья</a>.</li>
<li> Избегайте случайного раскрытия непредусмотренных типов контента, явно определяя типы контента, например.<a href="https://jersey.github.io/"> Джерси</a> (Ява)<code>@consumes("application/json"); @produces("application/json")</code>. Это позволяет избежать <a href="https://owasp.org/www-community/vulnerabilities/XML_External_Entity_%28XXE%29_Processing">XXE-атака</a> векторы, например.</li>
</ul>
<h3 id="send-safe-response-content-types"> Отправлять типы контента безопасного ответа</h3>
<p> Службы REST обычно допускают несколько типов ответов (например,<code>application/xml</code> или <code>application/json</code>, а клиент указывает предпочтительный порядок типов ответов в заголовке Accept в запросе.</p>
<ul>
<li><strong> Не</strong> просто скопируйте <code>Accept</code> заголовок к <code>Content-type</code> заголовок ответа.</li>
<li> Отклонить запрос (в идеале с помощью <code>406 Not Acceptable</code> ответ), если <code>Accept</code> заголовок конкретно не содержит ни одного из допустимых типов.</li>
</ul>
<p> Службы, включающие в свои ответы код сценария (например, JavaScript), должны быть особенно осторожны, чтобы защититься от атаки с внедрением заголовка.</p>
<ul>
<li> Убедитесь, что в вашем ответе отправляются заголовки предполагаемого типа контента, соответствующие содержимому вашего тела, например.<code>application/json</code> и не <code>application/javascript</code>.</li>
</ul>
<h2 id="management-endpoints"> Конечные точки управления</h2>
<ul>
<li> Избегайте раскрытия конечных точек управления через Интернет.</li>
<li> Если конечные точки управления должны быть доступны через Интернет, убедитесь, что пользователи должны использовать надежный механизм аутентификации, например многофакторный.</li>
<li> Предоставляйте конечные точки управления через разные порты HTTP или хосты, желательно на другом сетевом адаптере и в ограниченной подсети.</li>
<li> Ограничьте доступ к этим конечным точкам с помощью правил брандмауэра или с помощью списков управления доступом.</li>
</ul>
<h2 id="error-handling"> Обработка ошибок</h2>
<ul>
<li> Отвечайте общими сообщениями об ошибках — избегайте ненужного раскрытия подробностей сбоя.</li>
<li> Не передавайте клиенту технические детали (например, стеки вызовов или другие внутренние подсказки).</li>
</ul>
<h2 id="audit-logs"> Журналы аудита</h2>
<ul>
<li> Записывайте журналы аудита до и после событий, связанных с безопасностью.</li>
<li> Рассмотрите возможность регистрации ошибок проверки токена для обнаружения атак.</li>
<li> Позаботьтесь об атаках путем внедрения журнала, предварительно очистив данные журнала.</li>
</ul>
<h2 id="security-headers"> Заголовки безопасности</h2>
<p> Существует ряд <a href="https://owasp.org/www-project-secure-headers/"> заголовки, связанные с безопасностью</a> которые могут быть возвращены в ответах HTTP, чтобы указать браузерам действовать определенным образом. Однако некоторые из этих заголовков предназначены для использования с ответами HTML и, как таковые, могут обеспечить незначительные преимущества или вообще не обеспечить безопасность API, который не возвращает HTML. Обратите внимание: если API используется только клиентами, не являющимися браузерами (например, мобильными приложениями, межсерверными вызовами, инструментами командной строки), большинство этих заголовков не будут иметь никакого эффекта, поскольку они являются директивами для браузеров.</p>
<p> Следующие заголовки должны быть включены во все ответы API, которые могут использоваться клиентами браузера:</p>
<div class="cheatsheet-table-window cheatsheet-pros-cons-table" role="region" aria-label="Заголовки безопасности для ответов API в браузере">
<table>
<thead>
<tr>
<th scope="col">Заголовок</th>
<th scope="col">Обоснование</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Cache-Control: no-store</code></td>
<td> Заголовок, используемый для прямого кэширования браузерами. Предоставление <code>no-store</code> указывает, что любые кэши любого типа (частные или общие) не должны хранить ответ, содержащий заголовок. Браузер должен делать новый запрос каждый раз, когда вызывается API, чтобы получить последний ответ. Этот заголовок с <code>no-store</code> Значение предотвращает кэширование или сохранение конфиденциальной информации.</td>
</tr>
<tr>
<td><code>Content-Security-Policy: frame-ancestors 'none'</code></td>
<td> Заголовок, используемый для указания, может ли ответ быть оформлен в виде <code>&lt;frame&gt;</code>, <code>&lt;iframe&gt;</code>, <code>&lt;embed&gt;</code> или <code>&lt;object&gt;</code> элемент. Для ответа API не требуется, чтобы он был заключен в какой-либо из этих элементов. Предоставление <code>frame-ancestors 'none'</code> не позволяет любому домену формировать ответ, возвращаемый вызовом API. Этот заголовок защищает от <a href="https://www.w3.org/Security/wiki/Clickjacking_Threats#Drag_and_drop_attacks"> перетаскивание</a> кликджекинг-атаки в стиле.</td>
</tr>
<tr>
<td><code>Content-Type</code></td>
<td> Заголовок для указания типа содержимого ответа. Это должно быть указано в соответствии с типом контента, возвращаемого вызовом API. Если он не указан или указан неправильно, браузер может попытаться угадать тип содержимого ответа. Это может вернуться при атаках с перехватом MIME. Одним из распространенных значений типа контента является <code>application/json</code> если ответ API — JSON.</td>
</tr>
<tr>
<td><code>Strict-Transport-Security</code></td>
<td> Заголовок, сообщающий браузеру, что доступ к домену должен осуществляться только через HTTPS и что любые будущие попытки доступа к нему через HTTP должны автоматически конвертироваться в HTTPS. Этот заголовок гарантирует, что вызовы API выполняются через HTTPS, и защищает от поддельных сертификатов.</td>
</tr>
<tr>
<td><code>X-Content-Type-Options: nosniff</code></td>
<td> Заголовок, указывающий браузеру всегда использовать тип MIME, объявленный в <code>Content-Type</code> заголовок, а не пытаться определить тип MIME на основе содержимого файла. Этот заголовок с <code>nosniff</code> Значение не позволяет браузерам выполнять анализ MIME и некорректно интерпретировать ответы как HTML.</td>
</tr>
<tr>
<td><code>X-Frame-Options: DENY</code></td>
<td> Устаревший заголовок заменен на <code>Content-Security-Policy: frame-ancestors 'none'</code> (см. выше). По-прежнему рекомендуется для совместимости со старыми браузерами, не поддерживающими CSP Level 2.<code>DENY</code> не позволяет любому домену формировать ответ.</td>
</tr>
</tbody>
</table>
</div>
<p> Заголовки ниже предназначены только для обеспечения дополнительной безопасности, когда ответы отображаются в формате HTML. Таким образом, если API будет<strong> никогда</strong> возвращать HTML в ответах, то эти заголовки могут не понадобиться. Однако если есть какая-либо неопределенность в отношении функции заголовков или типов информации, которую API возвращает (или может вернуть в будущем), рекомендуется включить их в рамках подхода глубокоэшелонированной защиты.</p>
<div class="cheatsheet-table-window cheatsheet-pros-cons-table" role="region" aria-label="Дополнительные заголовки для ответов в формате HTML">
<table>
<thead>
<tr>
<th scope="col">Заголовок</th>
<th scope="col">Пример</th>
<th scope="col">Обоснование</th>
</tr>
</thead>
<tbody>
<tr>
<td> Политика безопасности контента</td>
<td><code>Content-Security-Policy: default-src 'none'</code></td>
<td> Большая часть функций CSP влияет только на страницы, отображаемые в формате HTML.</td>
</tr>
<tr>
<td> Политика разрешений</td>
<td><code>Permissions-Policy: accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()</code></td>
<td> Раньше этот заголовок назывался Feature-Policy. Когда браузеры учитывают этот заголовок, он используется для управления функциями браузера с помощью директив. В примере отключаются функции с пустым списком разрешенных для ряда разрешенных <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Permissions-Policy#directives"> имена директив</a>. Применяя этот заголовок, убедитесь, что директивы актуальны и соответствуют вашим потребностям. Пожалуйста, взгляните на это <a href="https://developer.chrome.com/en/docs/privacy-sandbox/permissions-policy"> статья</a> для подробного объяснения того, как управлять функциями браузера.</td>
</tr>
<tr>
<td> Политика рефереров</td>
<td><code>Referrer-Policy: no-referrer</code></td>
<td> Ответы, отличные от HTML, не должны вызывать дополнительные запросы.</td>
</tr>
</tbody>
</table>
</div>
<h2 id="cors"> КОРС</h2>
<p> Совместное использование ресурсов между источниками (CORS) — это стандарт W3C, позволяющий гибко указывать, какие междоменные запросы разрешены. Доставляя соответствующие заголовки CORS, ваш REST API сигнализирует браузеру, каким доменам, источникам AKA, разрешено выполнять вызовы JavaScript к службе REST.</p>
<ul>
<li> Отключите заголовки CORS, если междоменные вызовы не поддерживаются/не ожидаются.</li>
<li> Будьте как можно более конкретными и настолько общими, насколько это необходимо, при настройке источников междоменных вызовов.</li>
</ul>
<h2 id="sensitive-information-in-http-requests"> Конфиденциальная информация в HTTP-запросах</h2>
<p> Веб-службы RESTful должны быть осторожны, чтобы предотвратить утечку учетных данных. Пароли, токены безопасности и ключи API не должны появляться в URL-адресе, поскольку они могут быть зафиксированы в журналах веб-сервера, что делает их чрезвычайно ценными.</p>
<ul>
<li> В <code>POST</code>/<code>PUT</code> Конфиденциальные данные запросов должны передаваться в теле запроса или заголовках запроса.</li>
<li> В <code>GET</code> конфиденциальные данные запросов должны передаваться в HTTP-заголовке.</li>
</ul>
<p><strong> ХОРОШО:</strong></p>
<p><code>https://example.com/resourceCollection/[ID]/action</code></p>
<p><code>https://twitter.com/vanderaj/lists</code></p>
<p><strong> НЕ ОК:</strong></p>
<p><code>https://example.com/controller/123/action?apiKey=a53f435643de32</code> потому что apiKey находится в URL-адресе.</p>
<h2 id="http-return-code">HTTP-код возврата</h2>
<p>HTTP определяет <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes"> код состояния</a>. При разработке REST API не просто используйте <code>200</code> для успеха или <code>404</code> за ошибку. Всегда используйте для ответа семантически подходящий код состояния.</p>
<p> Вот неисчерпывающий выбор REST API, связанного с безопасностью.<strong> коды состояния</strong>. Используйте его, чтобы убедиться, что вы возвращаете правильный код.</p>
<div class="cheatsheet-table-window cheatsheet-pros-cons-table" role="region" aria-label="Коды состояния HTTP для REST API и безопасность">
<table>
<thead>
<tr>
<th scope="col">Код</th>
<th scope="col">Сообщение</th>
<th scope="col">Описание</th>
</tr>
</thead>
<tbody>
<tr>
<td>200</td>
<td> ХОРОШО</td>
<td> Ответ на успешное действие REST API. Метод HTTP может быть GET, POST, PUT, PATCH или DELETE.</td>
</tr>
<tr>
<td>201</td>
<td> Созданный</td>
<td> Запрос выполнен и ресурс создан. URI для созданного ресурса возвращается в заголовке Location.</td>
</tr>
<tr>
<td>202</td>
<td> Принял</td>
<td> Запрос принят в обработку, но обработка еще не завершена.</td>
</tr>
<tr>
<td>301</td>
<td> Переехал навсегда</td>
<td> Постоянное перенаправление.</td>
</tr>
<tr>
<td>304</td>
<td> Не изменено</td>
<td> Ответ, связанный с кэшированием, который возвращается, когда клиент имеет ту же копию ресурса, что и сервер.</td>
</tr>
<tr>
<td>307</td>
<td> Временное перенаправление</td>
<td> Временное перенаправление ресурса.</td>
</tr>
<tr>
<td>400</td>
<td> Неверный запрос</td>
<td> Запрос имеет неправильный формат, например ошибка формата тела сообщения.</td>
</tr>
<tr>
<td>401</td>
<td> Несанкционированный</td>
<td> Указан неверный идентификатор аутентификации/пароль или он не указан.</td>
</tr>
<tr>
<td>403</td>
<td> Запрещенный</td>
<td> Он используется, когда аутентификация прошла успешно, но аутентифицированный пользователь не имеет разрешения на доступ к ресурсу запроса.</td>
</tr>
<tr>
<td>404</td>
<td> Не найдено</td>
<td> Когда запрашивается несуществующий ресурс.</td>
</tr>
<tr>
<td>405</td>
<td> Метод неприемлем</td>
<td> Ошибка неожиданного метода HTTP. Например, REST API ожидает HTTP GET, но используется HTTP PUT.</td>
</tr>
<tr>
<td>406</td>
<td> неприемлемо</td>
<td> Клиент представил в заголовке Accept тип контента, который не поддерживается API сервера.</td>
</tr>
<tr>
<td>413</td>
<td> Полезная нагрузка слишком велика</td>
<td> Используйте его, чтобы сигнализировать о том, что размер запроса превысил заданный предел, например. относительно загрузки файлов.</td>
</tr>
<tr>
<td>415</td>
<td> Неподдерживаемый тип носителя</td>
<td> Запрошенный тип контента не поддерживается службой REST.</td>
</tr>
<tr>
<td>429</td>
<td> Слишком много запросов</td>
<td> Ошибка используется, когда может быть обнаружена DOS-атака или запрос отклонен из-за ограничения скорости.</td>
</tr>
<tr>
<td>500</td>
<td> Внутренняя ошибка сервера</td>
<td> Непредвиденное условие помешало серверу выполнить запрос. Имейте в виду, что ответ не должен раскрывать внутреннюю информацию, которая поможет злоумышленнику, например. подробные сообщения об ошибках или трассировки стека.</td>
</tr>
<tr>
<td>501</td>
<td> Не реализовано</td>
<td> Служба REST еще не реализует запрошенную операцию.</td>
</tr>
<tr>
<td>503</td>
<td> Сервис недоступен</td>
<td> Служба REST временно не может обработать запрос. Используется для информирования клиента о необходимости повторить попытку позже.</td>
</tr>
</tbody>
</table>
</div>
<p> Дополнительную информацию об использовании кода возврата HTTP в REST API можно найти.<a href="https://www.restapitutorial.com/httpstatuscodes.html"> здесь</a> и <a href="https://restfulapi.net/http-status-codes"> здесь</a>.</p>
